<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="default" value=""/>
        <add key="KeyUp" value="8"/>
        <add key="KeyDown" value="5"/>
        <add key="KeyLeft" value="4"/>
        <add key="KeyRight" value="6"/>
        <add key="KeyFollow" value="2"/>
        <add key="KeySwitch" value="9"/>
    </appSettings>
</configuration>